**/__pycache__/
**/backup/
**/node_modules/
**/package-lock.json
**/*.vsix
**/pypy*/
**/.venv/
**/..ruff_cache/
**/*.zip
**/*.tar.gz
**/*.tar
**/*.cast
**/build/
**/dist/
**/LICENSE.txt
**/*.spec
**/*.exe
